body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
h1 {
  color: white;
  font-size: 40px;
  font-weight: 435;
  line-height: 28px;
}
h2 {
  color: white;
  font-size: 18px;
  font-weight: 445;
  line-height: 25px;
}
h3 {
  color: white;
  font-size: 35px;
  font-weight: 435;
  line-height: 28px;
  text-align: right;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  color: white;
  font-size: 18px;
  font-weight: 445;
  line-height: 45px;
  text-transform: capitalize;
}
a {
  color: #e39280;
  text-decoration: underline;
}
a:hover {
  cursor: pointer;
  color: #e39280;
}
.container {
  border-radius: 20px;
}
small {
  color: white;
}
.weather-app-wrapper {
  background: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/062/192/original/weather-background.jpeg?1673378315)
    center/cover;
  border-radius: 20px;
  max-width: 800px;
  margin: 30px auto;
}
.weather-app {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
}
.overview {
  margin-bottom: 20px;
}
.weather-temperature img {
  margin-left: -20px;
  margin-right: -14px;
  height: 120px;
  width: 120px;
}
.weather-temperature strong {
  color: white;
  font-size: 65px;
  line-height: 125px;
  font-weight: 400;
}
.weather-temperature .units {
  line-height: 95px;
  color: white;
  font-size: 30px;
}
.weather-forecast {
  padding: 10px;
  text-align: center;
  color: white;
  margin: bottom 50%;
}
.weather-forecast-date {
  color: black;
  font-size: 16px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 13px;
}
.weather-forecast-temperature-min {
  opacity: 0.7;
  font-size: 17px;
}
.weather-forecast-temperatures {
  color: white;
  font-size: 17px;
}
